body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,255,165,1) 0%, rgba(14,235,255,1) 100%);
}

.imglink{
  margin:8px;
  width: 200px;
  height: 200px;
  background: rgba(220,220,220,0.3);
}

.imglink:hover{
  background: rgba(220,220,220,0.7);
}
